---
export interface Props {
	title: string;
}

import "bootstrap/dist/css/bootstrap.css";
import "../../public/css/style.scss";
import "../../public/css/font-awesome.min.css";
import "@fontsource/signika-negative";
import "@fontsource/kalam";

import { SEO } from "astro-seo";

import Heading from "../components/heading.astro";
import Footer from "../components/footer.astro";
import Skills from "../components/skills.astro";
import Perks from "../components/perks.astro";
import Activity from "../components/activity.astro";
import WorkHistory from "../components/work-history.astro";
import Expertise from "../components/expertise.astro";
import WorkExperience from "../components/work-experience.astro";
import References from "../components/references.astro";
import Cursor from "../components/cursor.astro";
---

<html lang="en">
	<head>
		<SEO
			title="Jeremiah Pinto | Software Engineer"
			description="Jeremiah Pinto is a software engineer based in Perth, Australia, who is world-class in his field."
			openGraph={{
				basic: {
					title: "Jeremiah Pinto | Software Engineer",
					type: "A type.",
					image: "https://www.jeremiahpinto.com/img/jerry.jpg",
				},
			}}
			extend={{
				link: [{ rel: "icon", href: "/favicon.png" }],
				meta: [
					{
						name: "twitter:image",
						content: "https://www.jeremiahpinto.com/img/jerry.jpg",
					},
				],
			}}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Jeremiah Pinto</title>
		<!-- favicon -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/icons/apple-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/icons/apple-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/icons/apple-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/icons/apple-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/icons/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/icons/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/icons/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/icons/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/icons/android-icon-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/icons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/icons/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta
			name="msapplication-TileImage"
			content="/icons/ms-icon-144x144.png"
		/>
		<meta name="theme-color" content="#ffffff" />

		<!-- web-fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700"
			rel="stylesheet"
		/>

		<!-- font-awesome -->
		<link href="" rel="stylesheet" />

		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-FBBE6W9PNR"
		></script>

		
	</head>
	<body>
		<canvas id="myCanvas" class="awesome-canvas"></canvas>
		<script src="../scripts/canvas.js"></script>

		<script>
			//@ts-ignore
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				//@ts-ignore
				dataLayer.push(arguments);
			}
			//@ts-ignore
			gtag("js", new Date());
			//@ts-ignore
			gtag("config", "G-FBBE6W9PNR");
		</script>
		<div id="main-wrapper">
			<Heading />

			<Activity />

			<WorkHistory />

			<Expertise />

			<Skills />

			<Perks />

			<WorkExperience />

			<section class="section-education section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="section-title">
								<h2>Education</h2>
							</div>
						</div>

						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
									<div class="content-item">
										<small>2016 - 2021</small>
										<h3>
											Master of Professional Engineering
											(Software Engineering)
										</h3>
										<h4>
											The University of Western Australia
										</h4>

										<p>Perth, Australia</p>
									</div>

									<!-- .experience-item -->
									<div class="content-item">
										<small>2010 - 2014</small>
										<h3>High School Graduation</h3>
										<h4>ICS</h4>

										<p>Kuwait</p>
									</div>
									<!-- .experience-item -->
								</div>
							</div>
							<!--.row-->
						</div>
					</div>
					<!--.row-->
				</div>
				<!-- .container -->
			</section>
			<!-- .section-education -->

			<References />

			<section id="contact" class="section-contact section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="section-title">
								<h2>Contact</h2>
							</div>
						</div>

						<div class="col-md-9">
							<!-- <div class="row">
								<div class="col-md-3">
									<address>
										<strong>Location</strong>
										<br /> Nedlands
										<br /> PERTH
									</address>
								</div>
								<div class="col-md-3">
									<address>
										<strong>Mobile Number</strong>
										<br />
										<a href="tel:+61416446950"
											>+61 416 446 950</a
										>
									</address>
								</div>
								<div class="col-md-3">
									<address>
										<strong>Email</strong>
										<br />
										<a href="mailto:#"
											>jeremiahpinto@gmail.com</a
										>
									</address>
								</div>
							</div> -->
							<!--.row-->

								<button type="submit" class="btn btn-primary">
									<a href="mailto:jeremiahpinto@gmail.com">
										<i class="fa fa-paper-plane"></i> Send Message
									</a>
								</button>
						</div>
						<!--.row-->
					</div>
					<!--.container-fluid-->
				</div>
				<!--.section-contact-->
				<Footer />
			</section>

			<Cursor />
		</div>
	</body>
</html>
