---
import Pins from "./pins.astro";


---

<footer class="footer">
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="copytext">
                        &copy; Jeremiah Pinto, All rights reserved. 2024
                    </div>
                    <Pins />
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
